/.vs
/WarFactory/bin
/WarFactory/obj
/WarFactory.Android/Assets
/WarFactory.Android/bin
/WarFactory.Android/obj
/WarFactory.iOS/Assets.xcassets
/WarFactory.iOS/bin
/WarFactory.iOS/obj

/WarFactory/Resources/Pay.png
/WarFactory/ViewPage/AboutPage.xaml
/WarFactory/ViewPage/AboutPage.xaml.cs
/WarFactory/ViewPage/PayPage.xaml
/WarFactory/ViewPage/PayPage.xaml.cs
